* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --themeColor: #E83F53;
    --whiteColor: #fff;
    --blackColor: #000;
    --textColor: #989898;
    --navColor: #242625;
    font-size: 10px;
    --headingFont: 'Oswald', sans-serif;
    --paragraphFont: 'Source Sans Pro', sans-serif;
}

html,
body {
    font-size: 1.6rem;
}

a,
a:hover {
    cursor: pointer;
    text-decoration: none;
    color: var(--whiteColor);
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
}

.button {
    background-color: var(--themeColor);
    padding: 1.5rem 3rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--whiteColor);
    text-transform: uppercase;
}

.title_div h2 {
    padding: 1rem 0rem;
}

.button:hover {
    border-color: var(--themeColor);
    color: var(--themeColor);
}

h1,
h2,
h3 {
    font-family: var(--headingFont);
}

p,
span {
    font-style: var(--paragraphFont);
}

p {
    font-size: 1.6rem;
    color: var(--textColor);
}

span {
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--themeColor);
}

h1 {
    font-size: 6rem;
}

h2 {
    font-weight: 700;
    font-size: 3.4rem;
}

h3 {
    font-size: 2rem;
}

.row {
    margin: 0;
}

.container {
    max-width: 128rem;
    margin: 0 auto;
    padding: 0;
}

@media only screen and (max-width: 600px) {
    .navbar__wrapper button {
        background-color: var(--themeColor);
    }

    .footer__top {
        text-align: center;
    }

    .footer__top h3 {
        padding: 3rem 0;
    }

    .footer__top p {
        padding: 2rem 2rem 0 2rem;
    }

    .footer__bottom p {
        text-align: center;
    }

    .footer__bottom .social__media {
        justify-content: center;
    }

    /* contact us */
    .contactus__wrapper .sidebar {
        text-align: center;
    }

    .contact__form {
        text-align: center;
    }

    /* blogs */
    .blog__lists {
        margin-bottom: 3rem;
    }

    .blog_listing__wrapper .title_div {
        padding-left: 1.5rem;
    }

    .blog__list--wrapper {
        margin-top: 2rem;
    }

    .blog_listing__wrapper .title_div {
        margin: 2rem 0;
    }

    /* pagination */
    .cstm_pagination ul {
        justify-content: center;
    }

    /* detail page */
    .navbar__wrapper--menu {
        display: none;
    }

    .description__wrapper p {
        padding: 0 1rem;
    }

    /* destination page */
    .destionation__wrapper .title_div{
        text-align: center;
    }
}