* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root {
    --themeColor: #E83F53;
    --whiteColor: #fff;
    --blackColor: #000;
    --textColor: #989898;
    --navColor:#242625;
    font-size: 10px;
    --headingFont: 'Oswald', sans-serif;
    --paragraphFont: 'Source Sans Pro', sans-serif;
}
html,
body {
    font-size: 1.6rem;
}
a,
a:hover {
    cursor: pointer;
    text-decoration: none;
    color: var(--whiteColor);
}
ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
figure {
    margin: 0;
}
img {
    width: 100%;
    height: 100%;
}
.button {
    background-color: var(--themeColor);
    padding: 1.5rem 3rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--whiteColor);
    text-transform: uppercase;
}
.title_div h2 {
    padding: 1rem 0rem;
}
.button:hover {
    border-color: var(--themeColor);
    color: var(--themeColor);
}
h1,
h2,
h3 {
    font-family: var(--headingFont);
}
p,
span {
    font-style: var(--paragraphFont);
}
p {
    font-size: 1.6rem;
    color: var(--textColor);
}
span {
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--themeColor);
}
h1 {
    font-size: 6rem;
}
h2 {
    font-weight: 700;
    font-size: 3.4rem;
}
h3 {
    font-size: 2rem;
}
.row {
    margin: 0;
}
.container {
    max-width: 128rem;
    margin: 0 auto;
    padding: 0;
}
/* navbar */
nav .logo img {
    width: 10rem;
    height: 5rem;
    margin-top: 1rem;
}
.navbar_items .nav-item {
    padding: 1rem;
}
.navbar_items .nav-item a {
    color: var(--whiteColor);
    font-weight: 600;
}
.navbar__wrapper {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 9999;
}
.navbar_items .nav-item a:hover {
    color: var(--themeColor);
}
/* banner */
.banner__wrapper {
    position: relative;
}
.banner_image {    
    position: relative;
}
.banner_image img{
    object-fit: contain;
    height: 100vh;
}
.overlay {
    background: linear-gradient(277deg, rgba(0, 0, 0, 0.9417016806722689) 0%, rgba(255, 255, 255, 0) 100%);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 9;
    border-radius: .5rem;
}
.banner_content {
    text-align: right;
    position: absolute;
    z-index: 99;
}
.banner_content h1 {
    font-size: 6.5rem;
    color: var(--whiteColor);
}
.banner_content p {
    padding: 2rem 0 2rem 2rem;
    font-weight: 500;
    color: var(--whiteColor);
    font-size: 2.4rem;
}
/* swiper  slider*/
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(116, 116, 116);
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* destinations */
.destionation__wrapper {
    margin: 9rem 0rem;
}
.destionation__wrapper img {
    border-radius: 1rem;
}
.destination__div {
    margin-bottom: 3rem;
}
.destination__div figure img {
    height: 30rem;
}
.destination__div figure {
    position: relative;
}
.destination__div figcaption {
    width: 100%;
    height: 100%;
    color: var(--whiteColor);
    font-weight: 700;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: end;
    padding: 0 0 2rem 2rem;
    border-radius: 1rem;
}
.destination__div figcaption:hover {
    cursor: pointer;
    transition: .5s;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9417016806722689) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 1rem;
}
.destination_title {
    display: flex;
    align-items: center;
}
.destination_title button:hover, a:hover{
    color: var(--themeColor);
}

/* about us */
.aboutus__wrapper {
    margin-bottom: 9rem;
    display: flex;
    gap: 10rem;
    align-items: center;
}
.aboutus_image {
    flex: 1;
}
.aboutus_image img {
    border-radius: 0 1rem 1rem 0rem;
    object-fit: cover;
    width: 100%;
    height: 45rem;
}
.aboutus_content {
    flex: 1;
}
.aboutus_content .title_div {
    max-width: 61rem;
}
.aboutus_content svg {
    fill: var(--themeColor);
    margin-right: 1.2rem;
}
.aboutus_content ul li {
    line-height: 2;
    color: var(--textColor);
}
.aboutus_content ul {
    margin-bottom: 2rem;
}
/* tours */
.tours__wrapper {
    margin-bottom: 9rem;
}
.tours__wrapper .title_div {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 4.5rem;
}
.tour_list__wrapper figure img {
    border-radius: 1rem;
    height: 30rem;
    object-fit: cover;
}
.tour_list__wrapper figure {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.tour_list__wrapper figcaption {
    position: absolute;
    bottom: 0;
    padding: 4rem 4rem 2rem;
    z-index: 99;
}
.tour_list__wrapper figcaption p {
    color: var(--whiteColor);
}
.tour_list__wrapper figcaption svg,
.tour__hover svg {
    fill: var(--themeColor);
    margin-right: .4rem;
}
.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 9;
    border-radius: 1rem;
}
.tour__hover {
    border-radius: 1rem;
    transform: translateY(100%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9417016806722689) 0%, rgba(255, 255, 255, 0) 100%);
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 9999;
    transition: all ease-in-out .8s;
    color: var(--textColor);
    padding: 8rem 4rem;
}
.tour_list__wrapper:hover .tour__hover {
    transform: translateY(0);
}
.tour_list__wrapper h3 {
    color: var(--themeColor);
}
.tour__hover p {
    color: var(--whiteColor);
    padding: 1rem 0;
}
.tour__hover .button {
    font-weight: normal;
    padding: .8rem 2rem;
    font-size: 1.6rem;
}
.inner_title {
    display: flex;
    justify-content: space-between;
}
.inner_title label {
    color: var(--whiteColor);
}
.tour_list__wrapper:hover figcaption {
    opacity: 0;
    transition: all ease-in-out .8s;
}
/* testimonials */
.testimonials__wrapper{
    margin-bottom: 9rem;
}
.testimonials__wrapper .title_div {
    text-align: center;
    margin-bottom: 4.5rem;
}
.testimonials__lists {
    padding: 4rem 4rem 0 4rem;
    border-radius: 1rem;
   border: .1rem solid #f1f1f1;
}
.testimonials__image {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}
.testimonials__title h3 {
    color: var(--themeColor);
}
.testimonials__details {
    display: flex;
    gap: 2rem;
    align-items: center;
}
.testimonials__rating svg {
    color: gold;
}
.testimonials__content p {
    padding: 3rem 0;
    line-height: 1.7;
}
/* blogs */
.blog__wrapper .title_div{
    padding-left: 1rem;
    margin-bottom: 4.5rem;
}
.blog__wrapper{
    margin-bottom: 9rem;
}
.blog__image img{
    border-radius: 1rem;
}
.blog__description h3{
    padding-top: 2rem;
}
.blog__description span{
    display: block;
    margin: 1.5rem 0;
}
.blog__description p{
    max-width: 80rem;
    padding: 1rem 0;
    line-height: 1.6;
}
.blog__description a{
    color: var(--themeColor);
}
.blog__lists h3{
    font-size: 1.6rem;
}
.blog__lists span{
    color: var(--blackColor);
}
.blog__container figure img{
    height: 50rem;
}
.blog__lists {
    margin-bottom: 1.5rem;
    display: flex;
    gap: 2rem;
}
.blog__lists figure img{
    width: 15rem;
    height: 15rem;
}
/* footer */
.footer__top {
    background-color: var(--navColor);
    padding: 7rem 0;
}
.footer__top figure img {
    height: 5rem;
    width: 10rem;
}
.footer__top p {
    padding-top: 2rem;
}
.footer__top h3 {
    color: var(--whiteColor);
}
.footer_links {
    padding: 1.5rem;
}
.footer_links h3 {
    padding-bottom: 1.8rem;
}
.footer_links ul li {
    color: var(--textColor);
    line-height: 2;
}
.footer_links ul li a {
    color: var(--textColor);
}
.footer_links ul li a:hover {
    color: var(--themeColor);
}
.footer__bottom {
    padding: 2rem;
    background-color: var(--blackColor);
    color: var(--whiteColor);
}
.footer__bottom .social__media {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}
.footer__bottom .social__media a {
    color: var(--whiteColor);
}
.footer__bottom .social__media a:hover {
    color: var(--themeColor);
    cursor: pointer;
}